---
import Input from "../form/Input.astro";
---

  <div
    class="relative col-span-full -mt-20 mb-14 grid grid-cols-12 gap-x-0 bg-black/10 shadow-3xl md:col-start-2 md:col-end-12 lg:col-start-3 lg:col-end-11 md:grid-cols-6 md:gap-x-6 xl:col-start-4 xl:col-end-10 lg:-mt-[200px] lg:mb-40 lg:gap-x-[30px] dark:bg-gray-800"
  >
    <div class="col-start-2 col-end-12 py-10 md:col-end-6 md:py-20">
      <h2 class="font-bold text-2xl text-primary md:text-3.5xl mb-4 tracking-tight dark:text-white">Register</h2>
      <div class="mb-8 md:mb-14 md:leading-normal md:text-lg tracking-tighter pr-2">
        <p>If you already have an account,
          <a class="text-accent font-bold hover:text-primary transition-colors" href="/account/login">login</a>
          now to access your profile!</p>
      </div>

      <!-- Default Form  -->
      <form class="flex flex-col gap-y-7" method="post" action="/api/account/register">
        <div class="group"><!--is-success -->
          <Input type="email" name="email" id="email" placeholder="Enter Email" value="" />
        </div>
        <div class="group"><!-- is-error -->
          <Input type="password" name="password" id="password" placeholder="Enter Password" value="" notification="Password need to have at least one number" />
        </div>
        <div class="hidden">
          <Input type="password" name="password-repeat" id="password-repeat" placeholder="Repeat Password"  />
        </div>
        <div class="mt-3">
          <input
            class="block w-full bg-accent py-5 text-lg font-bold leading-normal tracking-tight text-white transition-colors hover:cursor-pointer hover:bg-accent/90"
            type="submit"
            value="Create Account!"
          />
        </div>
        <div class="text-sm leading-normal">
          <p>You’ll receive a confirmation email in your inbox with a link so you can activate your account. If you have any problems, <a class="text-accent hover:text-primary dark:hover:text-white transition-colors" href="/contact">contact us</a>!</p>
        </div>
      </form>
      <!-- Default Form / End  -->
    </div>
  </div>
