---
import Yt1 from "@/layouts/Yt1.astro";
---

<Yt1>
    <div class="container mx-auto my-12 bg-black/10 p-8 h-96">
        Welcome Guest! Please <a class="font-bold underline" href="account/login">login</a>...
    </div>
</Yt1>