---
import Yt1 from "../../layouts/Yt1.astro"
import AccountLogin from "../../components/account/AccountLogin.astro"
---

<Yt1>
<section class="pt-14 lg:pt-40">
  <div class="container">
    <AccountLogin />
  </div>
</section>
</Yt1>
