---
import AccountRegister from "../../components/account/AccountRegister.astro"
import Yt1 from "../../layouts/Yt1.astro"
---

<Yt1>
<section class="pt-14 lg:pt-40">
  <div class="container">
    <AccountRegister />
  </div>
</section>
</Yt1>
