---
import '../styles/css/yt1/style.css';
---
<!DOCTYPE html>
<html lang="en" class="h-full overflow-x-hidden scroll-smooth">
<head>
	<!-- Basic Page Needs
	================================================== -->
	<title>DiscoverMe Auth Cookie sessions</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
</head>
	<slot />
</html>
